{% extends "base.html" %}
{% block title %}Expense Tracking{% endblock %}
{% block content %}
<div class="container">
    <h2>Expense Tracking</h2>
    <form id="expenseForm" method="post" enctype="multipart/form-data" action="{{ url_for('expense') }}">
        <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control" id="category" name="category">
                <option value="Food">Food</option>
                <option value="Transport">Transport</option>
                <option value="Housing">Housing</option>
                <option value="Health">Health</option>
                <option value="Entertainment">Entertainment</option>
                <option value="Personal Care">Personal Care</option>
                <option value="Education">Education</option>
                <option value="Utilities">Utilities</option>
                <!-- Add more categories as needed -->
            </select>
        </div>
        <div class="form-group">
            <label for="expense_name">Expense Name:</label>
            <input type="text" class="form-control" id="expense_name" name="expense_name">
        </div>
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="text" class="form-control" id="amount" name="amount">
        </div>
        <div class="form-group">
            <label for="payment_method">Payment Method:</label>
            <select class="form-control" id="payment_method" name="payment_method">
                <option value="Cash">Cash</option>
                <option value="Credit Card">Credit Card</option>
                <option value="Debit Card">Debit Card</option>
                <!-- Add more options as needed -->
            </select>
        </div>
        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" class="form-control" id="date" name="date" required>
        </div>
        <div class="form-group">
            <label for="attachments">Attachments: (only PDF and IMAGES, such as invoices and recipets)</label>
            <input type="file" class="form-control-file" id="attachments" name="attachments" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Submit Expense</button>
    </form>
    <h3>Recent Expenses</h3>
    <ul>
        {% for expense in expenses %}
        <li>{{ expense[3] }} | {{ expense[0] }}: {{ expense[1] }} - ${{ expense[2] }}
            {% if expense[4] %}
                <ul>
                    {% for attachment in expense[4] %}
                        <li><a href="{{ url_for('download_attachment', filename=attachment.filename) }}" target="_blank">{{ attachment.filename }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
